# Игнорирование временных файлов и каталогов
*~
*.swp
*.swo
*.swn
*.swm
*.bak
*.tmp
*.temp
*.log

# Игнорирование файлов и папок сборки
/build/
/bin/
/lib/

# Игнорирование файлов настроек IDE
.vscode/
.idea/
.vs/

# Игнорирование файлов, созданных компиляторами и средами разработки
*.o
*.out
*.exe
x64/

# Игнорирование файлов конфигурации проекта
CMakeLists.txt.user
*.pro.user
